.about-us h2{
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

@media (max-width: 430px) {
    .desp {
        padding: 0px 30px;
    }
    .desp p{
        font-weight: 500;
        font-family: 'Montserrat', sans-serif !important;
    }
}

@media (min-width: 780px) {
    .desp {
        padding: 0px 150px; 
    }
    .desp p{
        font-weight: 500;
        font-family: 'Montserrat', sans-serif !important;
    }
}