.carousel-img {
    height: 730px!important;
    max-height: 800px!important;
}

.carousel-caption {
    position: absolute;
    top: 40%;
    right: 15%;
    /* bottom: 1.25rem; */
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
    width: 40%;
    text-align: left;
    /* animation: text-up 13s linear infinite;
    transform: translateY(100px); */
}

@media (max-width: 450px) {
    .carousel-caption {
        position: absolute;
        top: 30%;
        right: 15%;
        /* bottom: 1.25rem; */
        left: 15%;
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
        color: #fff;
        text-align: center;
        width: 40%;
        text-align: left;
        /* animation: text-up 13s linear infinite;
        transform: translateY(100px); */
    }
}

@media (max-width: 450px) {
    .carousel-caption h2 {
        font-weight: 600;
        font-family: 'Montserrat', sans-serif;
        text-align: left;
        padding-top: 1rem;
    }
}

@media (min-width: 450px) {
.carousel-caption h2 {
    margin-bottom: 0.8rem;
    /* margin-top: 1rem; */
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    padding-top: 1rem;
}}

@media (min-width: 450px) {
.carousel-caption p {
    margin-top: 40px;
    font-size: 25px;
    padding-bottom: 10px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
}}

@media (max-width: 450px) {
    .carousel-caption p {
        font-size: 13px;
        font-weight: 500;
        font-family: 'Montserrat', sans-serif;
        text-align: left;
    }
}

.carousel-caption span {
    background: red;
    height: 1px;
    width: 100px;
    position: absolute;
    left: 0px;
}

.carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    height: 50%;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform .6s ease-in-out;
}