.singUp_header {
    background-color: #3274ad;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px;
  }
  
  .submit__btn {
    padding-left: 4rem !important;
    padding-right: 4rem !important;
    background-color: #3274ad;
    margin-top: 0.7rem;
  }
  
  .login__link {
    color: blue;
    cursor: pointer;
    margin-left: 3px;
  }

  .error_message {
    color: red;
    margin-bottom: 0.5rem;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
  }
  
  .forgrtPass_box {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
    padding-bottom: 0.5rem !important;
    padding-top: 0 !important;
    border-radius: 0.4rem;
     width: 25rem !important;
    max-height: 50rem !important;
    min-height: 25rem !important;
    background-color: white;
    opacity: 0.9;
    margin-top: 4rem;
  }
  @media screen and (max-width: 480px) {
    .signUp_box {
      margin-top: 6rem;
      box-shadow: unset !important;
      width: 22rem !important;
    }
  }
  @media screen and (max-width: 600px) {
    .signUp_box {
      box-shadow: unset !important;
      width: 19rem !important;
    }
  }
  .form__App{
    background-image: url(../images/block-chain2.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    padding-top: 2rem;
    padding-bottom: 5rem;
    min-height: 100vh;
  }
  Label{
    font-size: 14px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
  }
  
  input::placeholder {
   font-size: 14px;
   font-weight: 500;
   font-family: 'Montserrat', sans-serif;
  }
  
  .Select_heading{
    font-size: 14px !important;
  }
  .forgrt_homeBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 2rem;
    width: 50px;
    height: 50px;
    background-color: #fff!important;
    border-radius: 50%!important;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  }

  @media screen and (max-width: 480px) {
    .forgrtPass_box {
      box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
      padding-bottom: 0.5rem !important;
      padding-top: 0 !important;
      border-radius: 0.4rem;
       width: 21rem !important;
      max-height: 50rem !important;
      min-height: 25rem !important;
      background-color: white;
      opacity: 0.9;
      margin-top: 4rem;
    }
  }