@media screen and (min-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1){
    .Help-Accordian {
        align-self: center;
        margin: 2rem;
        border-bottom: 1px solid #e6e6e6;
    }}
    
    @media (max-device-width: 768px){
    .Help-section{
        display: block;
        background: #CFF;
        height:95%;
        width:100%;
        /* padding: 60px;
        padding-left: 120px; */
        box-sizing:border-box;
        padding-bottom: 27rem;
    }}

    @media (max-device-width: 375px){
        .Help-section{
            display: block;
            background: #CFF;
            height:100%;
            width:100%;
            /* padding: 60px;
            padding-left: 120px; */
            box-sizing:border-box;
            padding-bottom: 27rem;
        }}

    @media (min-device-width: 770px){
        .Help-section{
            display: block;
            background: #CFF;
            height:93vh;
            width:100%;
            padding: 60px;
            box-sizing:border-box;
        }}
    
    .help-Header{
        font-size: 20px;
        font-weight: 600;
        font-family: 'Montserrat', sans-serif;
    }

    .help-banner {
        /* background-color: #0c4a99; */
        background-image: url('./../images/Background2.jpg');
    }

    /* @media (max-device-width: 375px){
        .help-banner {
            background-image: url('./../images/Background2.jpg');
            padding-bottom: 2rem;
        }} */

    .accordion-button {
        font-weight: 600;
        font-family: 'Montserrat', sans-serif !important;
        background-color: gainsboro !important;
    }

    .accordion-body{
        font-weight: 500;
        font-family: 'Montserrat', sans-serif !important;
        background-color: darkgray;
    }

    .MuiContainer-root {
        width: 100%;
        display: block;
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
        padding-left: 16px;
        padding-right: 16px;
    }

    /* .accordion-button:not(.collapsed) {
        color: var(--bs-accordion-active-color);
        background-color: #000812;
        box-shadow: inset 0 calc(var(--bs-accordion-border-width) * -1) 0 var(--bs-accordion-border-color);
    } */

    .accordion-button:not(.collapsed) {
        color: #739dec !important;
        background-color: #000915 !important;
        box-shadow: inset 0 calc(var(--bs-accordion-border-width) * -1) 0 #010810 !important;
    }

    .accordion-button:focus {
        z-index: 3;
        border-color: #000000;
        outline: 0;
        box-shadow: #000000;
    }