.Qr_cam_Section{
    height: 92vh;
    /* background-color: #000000; */
}

.Qr_card{
 margin: auto;
 text-align: center;
 align-items: center;

}

.qr_scanner_box{
    position: relative;
    /* left: 33%; */
    /* top: 8% !important; */
    height: 36% !important;
    width: 62%;
    border: 1px solid red;
    margin-top: 20px;
}

.qr_scanner_heading{
    text-align: center;
}

.qr_background{
    /* background-color: #2E2E2E; */
    background-image: url('./../images/timeline7.jpg');
}

.qr_background1{
    /* background-color: #2E2E2E; */
    background-image: url('./../images/timeline12.jpg');
}

/* .card-text{
    text-align: start;
} */