.formBody {
  height: 24rem !important;
  width: 27rem !important;
  margin-top: 3rem;
}


.singIn_btn {
  text-align: center;
  margin-bottom: 1rem;
}

.singIn_btn Button {
  padding-left: 4rem;
  padding-right: 4rem;
  /* border-radius: 2rem; */
}

.singIn_header {
  border-top-right-radius: 5px;
  padding: 5px;
  margin-bottom: 2rem;
  background-color: #3274ad;
}
.error_message {
  color: red;
  font-size: 14px;
}

.signIn_box {
  margin-top: 1.5rem;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
  /* padding: 1rem !important; */
  padding-top: 0 !important;
  margin-bottom: 3rem !important;
  border-radius: 0.4rem;
  width: 45rem !important;
  max-height: 45rem !important;
  min-height: 24rem !important;
  background-color: rgb(249, 249, 250);
  opacity: 0.9;
}

@media screen and (max-width: 480px) {
  .signIn_box {
    box-shadow: unset !important;
    width: 19rem !important;
  }
}
@media screen and (max-width: 600px) {
  .signIn_box {
    box-shadow: unset !important;
    width: 19rem !important;
  }
}
.form__App {
  background-image: url(../images/block-chain2.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  padding-top: 5rem;
  padding-bottom: 4rem;
  height: 100vh;
}
::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 600px) {
  .imglogo {
    display: none !important;
  }
}

input,
select {
  width: 16rem;
  color: gray;
  border: 1px solid gray;
  height: 3rem;
  border-radius: 8px;
  height: 2.5rem;
  font-family: "MontSerratMedium" !important;
}
input:focus {
  outline: none;
  box-shadow: none;
  border: 1px solid #1b65d3 !important;
  box-shadow: 0 0 3px #1b65d3 !important;
  outline-offset: 0px;
}
select:focus {
  outline: none;
  box-shadow: none;
  border: 1px solid #1b65d3 !important;
  box-shadow: 0 0 3px #1b65d3 !important;
  outline-offset: 0px;
}

@media (min-width: 992px) {
  .secret__token__box {
    max-width: 434px;
  }
}
.secret__token__box {
  margin-top: 1.5rem;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
  /* padding: 1rem !important; */
  padding-top: 0 !important;
  margin-bottom: 3rem !important;
  border-radius: 0.4rem;
  width: 25rem !important;
  max-height: 25rem !important;
  min-height: 20rem !important;
  background-color: rgb(249, 249, 250);
  opacity: 0.9;
}
@media screen and (max-width: 480px) {
  .secret__token__box {
    box-shadow: unset !important;
    width: 19rem !important;
  }
}
@media screen and (max-width: 600px) {
  .secret__token__box {
    box-shadow: unset !important;
    width: 19rem !important;
  }
}

@media screen and (min-device-width: 1200px) and (-webkit-min-device-pixel-ratio: 1) {
  .image:hover {
    /* background-color: #c7e1ef; */

    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
.secret_form__App {
  background-image: url(../images/block-chain2.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  padding-top: 7rem;
  padding-bottom: 7rem;
  height: 100vh;
}
