.transaction {
  height: 120vh;
  /* min-height: 120vh; 
  max-height: 187vh; */
  background-image: url(../images/block-chain2.jpg);
  background-size: cover;
}

@media screen and (max-width: 900px) {
  .transaction {
    height: 183vh;
    background-image: url(../images/block-chain2.jpg);
    background-size: cover;
  }
}


.transaction-table {
  background: white;
  /* width: 70%; */
  justify-content: center;
  text-align: center;
  opacity: 0.9;
  /* position: relative;
      left: 10rem;
      top: 10rem; */
  overflow-x: scroll;
}

table {
  font-family: "Montserrat", sans-serif;
  border-collapse: collapse;
  width: 100%;
  overflow: scroll;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
  font-size: 16px !important;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

table th,
tfoot td {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #3274ad !important;
  color: white;
}
.nextPrev {
  background-color: #f6f1f1 !important;
  position: relative;
  bottom: 3px;
  height: 28px;
}
.pageNo {
  background-color: #6c757d !important;
}
.text-right {
  color: black;
  padding-left: 16px;
}

@media screen and (max-width: 480px) {
  table {
    font-size: small;
  }
}

@media screen and (max-width: 480px) {
  th {
    font-size: 17px;
  }
}

/* @media screen and (max-width: 767px){


.table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(221, 221, 221);
    border-image: initial;
}
  } */

.txhash__link {
  color: #194089;
}

.loading{
  top: -1%;
}


.search{
  position: relative;
  box-shadow: 0 0 40px rgba(51, 51, 51, .1);
    
  }

  .search input {
    height: 35px;
    /* text-indent: 25px; */
    border: 2px solid #d6d4d4;
    margin-bottom: 1.5rem !important;
    display: block;
    width: 100%;
    padding: 12px 20px;
    margin: 0px 0;
    box-sizing: border-box;
    background-color: rgb(235, 230, 230);
    opacity: 1 !important;
  }
  
  .search input[type=text]:active {
    width: 100%;
    padding: 12px 20px;
    margin: 0px 0;
    box-sizing: border-box;
    background-color: rgb(235, 230, 230);
    opacity: 1 !important;
  }


  .search input:focus{

   box-shadow: none;
   border: 2px solid blue;


  }

  .search .fa-search{

   position: absolute;
   top: 20px;
   left: 16px;

  }

  /* .search button{

    position: absolute;
    top: -2px;
    right: 0px;
    height: 35px;
    width: 70px;
    background: #194089;

  } */

  .search-button {
    position: absolute;
    top: -2px;
    right: 0px;
    height: 35px;
    width: 70px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    display: inline-grid;
    justify-content: center;
  }
  
  /* .search input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
  } */
  
  .close-button{
    position: absolute;
    right: 70px;
    top: 3px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
  }
  
  .search-box:not(:valid) ~ .close-icon {
    display: none;
  }
  .table_body{
    width: 80%;
  }

  @media screen and (max-width: 480px) {
    .table_body{
      width: 100%;
    }
  }